button {
    font-size: 30px;
    background-color: lightblue;
    border: none;
    border-radius: 50px;
    vertical-align: middle;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #6b9ac9;
}

#gallery {
    background-color: #dedede;
    margin-bottom: 10px;
}

.gallery-image {
    width: 200px;
    height: auto;
    margin: 4px;
    vertical-align: middle;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}
